{{ template "frame_header.html" . }}

<div class="container-fluid">
    {{ template "frame_menu.html" . }}
    <main class="container">
        <div class="row">
            <div class="col s12">
                <h2>Werk editieren</h2>
                <p>Daten eines bestehenden Werkes &auml;ndern</p>

                {{ if .Error }}
                <p class="error"><b>{{ .Error }}</b></p>
                {{ end }}

                <form class="form" action="/books/edit/{{.Book.Id}}" method="post" name="form_books-edit">
                    {{ template "books-form.html" . }}
                    <div class="row">
                        <div class="col m3 s6 l2">
                            <button type="reset" class="waves-effect waves-purple btn-flat">Abbrechen</button>
                        </div>
                        <div class="col m3 offset-m6 s6 l2 offset-l10">
                            <button type="submit" class="waves-effect waves-light btn">&Uuml;bernehmen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

{{ template "frame_footer.html" . }}
