{{ template "frame_header.html" . }}

<div class="container-fluid">
    {{ template "frame_menu.html" . }}

    <main class="container">
        <div class="row">
            <div class="col s12">
                <h1>Liste aller registrierten Werke</h1>

                <table class="striped" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Autor(en)</th>
                            <th>Jahr</th>
                            <th>Zitate</th>
                            <th>Aufgaben</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Books }}
                        <tr data-id="{{ .Id }}">
                            <td>{{ .Title }}</td>
                            <td>{{ .Authors }}</td>
                            <td>{{ .Year }}</td>
                            <td>{{ len .Quotations }}</td>
                            <td>{{ len .Tasks }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        {{ template "frame_fixedfabs.html" . }}
    </main>
</div>

{{ template "frame_footer.html" . }}
