{{ template "frame_header.html" . }}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{ template "frame_menu.html" . }}
    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--12-col-phone">
                <h2>Hallo {{ .User.FirstName }} {{ .User.LastName }}!</h2>
            </div>
            <div class="mdl-cell--10-col-desktop mdl-cell--1-offset-desktop mdl-cell--12-col-phone">
                <h3>Letzte Zitate</h3>

            </div>
        </div>
        <div class="cdb-start_fixed-fab-container" style="position: fixed; bottom: 20px; right: 20px;">
            <!-- Right aligned menu on top of button  -->
            <a href="/quotes/add" id="btn-add-quote" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">bookmark</i>
            </a>
            <a href="/books/add" id="btn-add-book" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">book</i>
            </a>
        </div>
    </main>
</div>

{{ template "frame_footer.html" . }}
