{{ template "frame_header.html" . }}

    {{ template "frame_menu.html" . }}
    <main class="container">
        <div class="row">
            <div class="col s12 m10">
                <h2>Hallo {{ .User.FirstName }} {{ .User.LastName }}!</h2>
            </div>
            <div class="col s12 m10">
                <h3>Aufgaben</h3>

            </div>
            <div class="col s12 m10">
                <h3>Letzte Zitate</h3>

            </div>

        </div>
        {{ template "frame_fixedfabs.html" . }}
    </main>

{{ template "frame_footer.html" . }}
