{{ template "frame_header.html" . }}

<div class="container-fluid">
    <nav>
        <header class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">{{ .Title }} CitationDB</a>
            </div>
        </header>
    </nav>
    <main class="container">
        <div class="valign-wrapper">
            <div class="valign cdb_login-card card">
                {{ if .Success }}
                <div class="card-content">
                    <div class="card-title">
                        <h2>Erfolg!</h2>
                    </div>
                    <p>Sie wurden erfolgreich angemeldet.</p>
                    <p>Sie sollten in K&uuml;rze weitergeleitet werden - Falls nicht, bitte <a href="{{.TargetUrl}}">hier</a> klicken</p>
                </div>
                {{ else }}
                <form action="/login" method="post">
                    <div class="card-content">
                        <div class="card-title">
                            <h2>Anmeldung ben&ouml;tigt</h2>
                        </div>
                        {{ if .Error }}
                        <p>Anmeldung fehlgeschlagen: {{.Error}}</p>
                        {{ end }}
                        <div class="input-field">
                            <input class="validate" type="text" name="username" id="username">
                            <label for="username">Benutzername</label>
                        </div>
                        <div class="input-field">
                            <input class="validate" type="password" name="userpass" id="userpass">
                            <label for="userpass">Passwort</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="waves-effect waves-light btn">
                            Anmelden
                        </button>
                    </div>
                </form>
                {{ end }}
            </div>
        </div>
    </main>
</div>

{{ template "frame_footer.html" . }}
