{{ template "frame_header.html" . }}

<div class="container-fluid">
    <nav>
        <header class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">{{ .Title }} CitationDB</a>
            </div>
        </header>
    </nav>
    <main class="container valign-wrapper">
        <div class="row valign cdb_login-row">
            <div class="col s12 m6 offset-m3 l5 offset-l4 cdb_login-card card">
                <div class="card-content">
                    <div class="card-title">
                        <h2>Abgemeldet!</h2>
                    </div>
                    <p>Sie wurden erfolgreich angemeldet.</p>
                    <p>Sie sollten in K&uuml;rze weitergeleitet werden - Falls nicht, bitte <a href="{{.TargetUrl}}">hier</a> klicken</p>
                </div>
            </div>
        </div>
    </main>
</div>

{{ template "frame_footer.html" . }}
