<div class="row">
    <div class="input-field col s12 m6">
        <input type="text" class="autocomplete" id="quoteBook" name="quoteCoreStatement" {{ if .Book }}value="{{.Book.Title}}"{{end}}>
        <label for="quoteBook">Werk</label>
    </div>
    <div class="input-field col s12 m6">
        <select id="quoteType">
            <option value="0" {{if .Quote}}{{ if eq .Quote.Type 0 }}selected{{end}}{{end}}>Zitat</option>
            <option value="1" {{if .Quote}}{{ if eq .Quote.Type 1 }}selected{{end}}{{end}}>Indirektes Zitat</option>
            <option value="2" {{if .Quote}}{{ if eq .Quote.Type 2 }}selected{{end}}{{end}}>Kommentar</option>
            <option value="3" {{if .Quote}}{{ if eq .Quote.Type 3 }}selected{{end}}{{end}}>Zusammenfassung</option>
        </select>
        <label for="quoteType">Typ</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input type="text" id="quoteCoreStatement" name="quoteCoreStatement" {{ if .Quote.CoreStatement }}value="{{.Quote.CoreStatement}}"{{end}}>
        <label for="quoteCoreStatement">Kernaussage</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <textarea class="materialize-textarea" type="text" rows= "3" id="quoteText" name="quoteText">{{if .Quote.Text}}{{.Quote.Text}}{{end}}</textarea>
        <label for="quoteText">Text</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6 m6">
        <input class="validate" type="number" id="quotePageNrStart" name="quotePageNrStart" {{ if .Quote.PageNrStart }}value="{{.Quote.PageNrStart}}"{{end}}>
        <label for="quotePageNrStart">Seite Von</label>
    </div>
    <div class="input-field col s6 m6">
        <input class="validate" type="number" id="quotePageNrStop" name="quotePageNrStop" {{ if .Quote.PageNrStop }}value="{{.Quote.PageNrStop}}"{{end}}>
        <label for="quotePageNrStop">Seite Bis</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6">
        <input type="text" id="quoteTags" name="quoteTags" {{ if .Quote.Tags }}value="{{.Quote.Tags}}"{{end}}>
        <label for="quoteTags">Schlagw&ouml;rter</label>
    </div>
    <div class="input-field col s12 m6">
        <input type="text" id="quoteCategories" name="quoteCategories" {{ if .Quote.Categories }}value="{{.Quote.Categories}}"{{end}}>
        <label for="quoteCategories">Kategorien</label>
    </div>
</div>
<input type="hidden" name="selectedBook" id="selectedBook" value="">
