{{ template "frame_header.html" . }}

<div class="container-fluid">
    {{ template "frame_menu.html" . }}
    <main class="container">
        <div class="row">
            <div class="col s12">
                <h2>Zitat einpflegen</h2>

                {{ if .Error }}
                <p class="error"><b>{{ .Error }}</b></p>
                {{ end }}

                <form class="form" action="/quotes/add" method="post" name="form_books-add">
                    {{ template "quotes-form.html" . }}
                    <div class="row">
                        <div class="col s6 m3 l2">
                            <button type="reset" class="waves-effect waves-purple btn-flat">Abbrechen</button>
                        </div>
                        <div class="col s6 m3 l2 offset-m6 offset-l8">
                            <button type="submit" class="waves-effect waves-purple btn">Hinzuf&uuml;gen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

{{ template "frame_footer.html" . }}
